@model Shipping.ViewModels.Orders.OrderSearchViewModel

@{var slNo = 1;
	int RoleID = Shipping.Utilities.SessionWrapper.Get<int>(Shipping.Utilities.AppConstant.RoleId);

}
@Html.HiddenFor(m => m.status.totalOrders, new { @id = "orderTl" })
<div class="row box-body" style="margin-top:-13px">
	<div class="col-md-2"><button type="button" id="btnTotal" class="btn btn-block bg-black-active btn-sm" style="font-weight: bold;">Total(@Model.status.totalOrders)</button></div>
	<div class="col-md-2"><button type="button" id="btFresh" class="btn btn-block btn-default btn-sm" style="font-weight: bold;">Fresh Orders(@Model.status.FreshOrders)</button></div>
	<div class="col-md-2"><button type="button" id="btInprogress" class="btn btn-block label-info btn-sm" style="font-weight: bold;">In Progress(@Model.status.InProgress)</button></div>
	<div class="col-md-2"><button type="button" id="btOutforDelivery" class="btn btn-block label-primary btn-sm" style="font-weight: bold;">Out For Delivery(@Model.status.OutForDelivery)</button></div>
	<div class="col-md-2"><button type="button" id="btDelivered" class="btn btn-block bg-green-active btn-sm " style="font-weight: bold;">Delivered(@Model.status.Delivered)</button></div>
	<div class="col-md-2"><button type="button" id="btReturned" class="btn btn-block btn-danger btn-sm" style="font-weight: bold;">Returned (@Model.status.Returned)</button></div>
</div>
<!-- /.box-header -->
<div class="box-body">
	<table class="table table-condensed">
		<tbody>
			<tr>
				<th class="">SlNo.</th>
				@if (RoleID == 1)
				{
					<th class="">Order No</th>
				}
				<th class="">Consignee Name</th>
				<th class="">Agent Name</th>
				<th class="">Product</th>
				<th class="">OrderDate</th>
				<th class="">Consignee Phone Number</th>
				<th class="">CurrentStatus</th>
				<th class="">
					<button type="submit" class="btn btn-primary btn-sm pull-right" id="GenerateExcel"><i class="fa fa-download"></i> Generate Excel</button><a href="~/Order/NewOrder/0" class="btn btn-primary btn-sm pull-right">Create Order</a>
				</th>
			</tr>
			@if (Model.lstOrders.Count() > 0)
			{
				foreach (var m in Model.lstOrders)
				{
					<tr>
						<td class="text-left">@slNo</td>
						@if (RoleID == 1)
						{
							<td><a href="~/Order/Status/@m.OrderId">@m.OrderNo</a></td>
						}
						<td class="">@m.ConsigneeName</td>
						<td class="">@m.AgentName</td>
						<td class="">@m.Product</td>
						<td>@m.Date.ToString()</td>
						<td>@m.ConsigneeNumber</td>
						<td class="">
							@if (m.CurrentStatus == 1)
							{<span class="label label-default">Fresh Order</span> }
							else if (m.CurrentStatus == 2)
							{ <span class="label label-info">In Progress</span>}
							else if (m.CurrentStatus == 3)
							{ <span class="label label-primary">Out For Delivery</span>}
							else if (m.CurrentStatus == 4)
							{ <span class="label label-success">Completed</span>}
							else if (m.CurrentStatus == 5)
							{ <span class="label label-danger">Returned</span>}
						</td>
						<td class="text-right">
							<a class="glyphicon glyphicon-eye-open" href="~/Order/Status/@m.OrderId" style="margin-right:10px"></a>
							@if (m.CurrentStatus == 1 || RoleID == 1)
							{
								<a class="glyphicon glyphicon-pencil" href="~/Order/NewOrder/@m.OrderId" style="margin-right:10px"></a>
								<a class="fa fa-fw fa-trash" href="~/Order/Delete/@m.OrderId" style="margin-right:10px"></a>
							}
						</td>
					</tr>
					slNo++;
				}
			}
			else
			{
				<tr>
					<td colspan="8">
						No Records found.
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<!-- /.box-body -->
<div class="row box-body">
	<div class="col-md-1">
		<label class="field select">
			<select id="ddlPageSize" onchange="LoadOrderDetail(0)" name="filter-status" class="form-control">
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="70">75</option>
				<option value="100">100</option>
				<option value="500">500</option>
				<option value="1000">1000</option>
				<option value="1500">1500</option>
				<option value="1000">10000</option>
				<option value="1500">100000</option>
			</select>
			<i class="arrow double"></i>
		</label>
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-6 text-right">
		@if (Model.Pager.EndPage > 1)
		{
			<ul class="pagination pagination-sm no-margin pull-right" style="margin:0px 0px;cursor: pointer;">
				@if (Model.Pager.CurrentPage > 1)
				{
					<li>
						<a onclick="LoadOrderDetail(0)">First</a>
					</li>
					<li>
						<a onclick="LoadOrderDetail(@(Model.Pager.CurrentPage - 1))">Previous</a>
					</li>
				}

				@for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
				{
					<li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
						<a onclick="LoadOrderDetail(@page);">@page</a>
					</li>
				}

				@if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
				{
					<li>
						<a onclick="LoadOrderDetail(@Model.Pager.CurrentPage + 1)">Next</a>
					</li>
					<li>
						<a onclick="LoadOrderDetail(@Model.Pager.TotalPages)">Last</a>
					</li>
				}
			</ul>
		}
	</div>
</div>
<script>
	var delay = (function () {
		var timer = 0;
		return function (callback, ms) {
			clearTimeout(timer);
			timer = setTimeout(callback, ms);
		};
	})();
	//Butoon click

	$('#btnTotal').on("click", (function (e) {
		debugger;
		delay(function () {
			var pageSizeId = ($('#ddlPageSize').val() == "") ? 10 : parseInt($('#orderTl').val());
			$('#dvorderlist').html('');
			$('#OrdrStatusID').val('1');
			$.ajax({
				url: RootUrl + "Order/Search",
				type: "GET",
				data: {
					orderNo: $('#ORorderNo').val(),
					consignneName: $('#ORconsigneeName').val(),
					agentName: $('#ORagentName').val(),
					consgnNo: $('#ORconsgnNo').val(),
					date: $('#ORdate').val(),
					daterange: $('#ORdateRange').val(),
					page: 0,
					pageSize: pageSizeId
				},
				success: function (resp) {
					$("#dvorderlist").html(resp);
					$('#ddlPageSize').val(pageSizeId);
				},
				error: function () {
					alert("An error has occured!!!");
					NProgress.done();
					NProgress.remove();
				}
			});
		}, 500);
	}));
	$('#btFresh').on("click", (function (e) {
		debugger;
		delay(function () {
			var pageSizeId = ($('#ddlPageSize').val() == "") ? 10 : $('#ddlPageSize').val();
			$('#dvorderlist').html('');
			$('#OrdrStatusID').val('1');
			$.ajax({
				url: RootUrl + "Order/Search",
				type: "GET",
				data: {
					orderNo: $('#ORorderNo').val(),
					consignneName: $('#ORconsigneeName').val(),
					agentName: $('#ORagentName').val(),
					consgnNo: $('#ORconsgnNo').val(),
					date: $('#ORdate').val(),
					daterange: $('#ORdateRange').val(),
					page: 0,
					pageSize: pageSizeId,
					orderType: 1
				},
				success: function (resp) {
					$("#dvorderlist").html(resp);
					//$('#ddlPageSize').val(pageSizeId);
				},
				error: function () {
					alert("An error has occured!!!");
					NProgress.done();
					NProgress.remove();
				}
			});
		}, 500);
	}));
	$('#btInprogress').on("click", (function (e) {
		debugger;
		$('#OrdrStatusID').val(2);
		delay(function () {
			var pageSizeId = ($('#ddlPageSize').val() == "") ? 10 : $('#ddlPageSize').val();
			$('#dvorderlist').html('');
			$.ajax({
				url: RootUrl + "Order/Search",
				type: "GET",
				data: {
					orderNo: $('#ORorderNo').val(),
					consignneName: $('#ORconsigneeName').val(),
					agentName: $('#ORagentName').val(),
					consgnNo: $('#ORconsgnNo').val(),
					date: $('#ORdate').val(),
					daterange: $('#ORdateRange').val(),
					page: 0,
					pageSize: pageSizeId,
					orderType: 2
				},
				success: function (resp) {
					$("#dvorderlist").html(resp);
					$('#ddlPageSize').val(pageSizeId);
				},
				error: function () {
					alert("An error has occured!!!");
					NProgress.done();
					NProgress.remove();
				}
			});
		}, 500);
	}));
	$('#btOutforDelivery').on("click", (function (e) {
		e.preventDefault();
		debugger;
		$('#OrdrStatusID').val(3);
		delay(function () {
			var pageSizeId = ($('#ddlPageSize').val() == "") ? 10 : $('#ddlPageSize').val();
			$('#dvorderlist').html('');
			$.ajax({
				url: RootUrl + "Order/Search",
				type: "GET",
				data: {
					orderNo: $('#ORorderNo').val(),
					consignneName: $('#ORconsigneeName').val(),
					agentName: $('#ORagentName').val(),
					consgnNo: $('#ORconsgnNo').val(),
					date: $('#ORdate').val(),
					daterange: $('#ORdateRange').val(),
					page: 0,
					pageSize: pageSizeId,
					orderType: 3
				},
				success: function (resp) {
					$("#dvorderlist").html(resp);
					$('#ddlPageSize').val(pageSizeId);
				},
				error: function () {
					alert("An error has occured!!!");
					NProgress.done();
					NProgress.remove();
				}
			});
		}, 500);
	}));
	$('#btDelivered').on("click", (function (e) {
		e.preventDefault();
		debugger;
		$('#OrdrStatusID').val(4);
		delay(function () {
			var pageSizeId = ($('#ddlPageSize').val() == "") ? 10 : $('#ddlPageSize').val();
			$('#dvorderlist').html('');
			$.ajax({
				url: RootUrl + "Order/Search",
				type: "GET",
				data: {
					orderNo: $('#ORorderNo').val(),
					consignneName: $('#ORconsigneeName').val(),
					agentName: $('#ORagentName').val(),
					consgnNo: $('#ORconsgnNo').val(),
					date: $('#ORdate').val(),
					daterange: $('#ORdateRange').val(),
					page: 0,
					pageSize: pageSizeId,
					orderType: 4
				},
				success: function (resp) {
					$("#dvorderlist").html(resp);
					$('#ddlPageSize').val(pageSizeId);
				},
				error: function () {
					alert("An error has occured!!!");
					NProgress.done();
					NProgress.remove();
				}
			});
		}, 500);
	}));
	$('#btReturned').on("click", (function (e) {
		e.preventDefault();
		debugger;
		$('#OrdrStatusID').val(5);
		delay(function () {
			var pageSizeId = ($('#ddlPageSize').val() == "") ? 10 : $('#ddlPageSize').val();
			$('#dvorderlist').html('');
			$.ajax({
				url: RootUrl + "Order/Search",
				type: "GET",
				data: {
					orderNo: $('#ORorderNo').val(),
					consignneName: $('#ORconsigneeName').val(),
					agentName: $('#ORagentName').val(),
					consgnNo: $('#ORconsgnNo').val(),
					date: $('#ORdate').val(),
					daterange: $('#ORdateRange').val(),
					page: 0,
					pageSize: pageSizeId,
					orderType: 5
				},
				success: function (resp) {
					$("#dvorderlist").html(resp);
					$('#ddlPageSize').val(pageSizeId);
				},
				error: function () {
					alert("An error has occured!!!");
					NProgress.done();
					NProgress.remove();
				}
			});
		}, 500);
	}));
</script>

